{{ define "main" }}
<!-- <section class="ml-header container-fluid bg-dark_section">
    <div class="row">

    </div>
</section> -->
<section class="container-fluid bg-light">
    <div class="row">
        <div class="col text-md-center text-center">
            <h3>Mathilde LARATTE</h3>
            <img width="30%" title="Mathilde Laratte" src="/img/mathilde.jpg" />
            <p>Ostéopathe D.O.</p>
            <p>Diplomée d’ISOSTÉO Lyon en 2015</p>
            <div class="col text-md-center text-center">
                <div><a class="rdv-header" href="https://www.doctolib.fr/osteopathe/lyon/mathilde-laratte?pid=practice-47424" target="_blank" title="Prendre rendez-vous"></a></div>
            </div>
            <br>
            <p>Du nourisson à la personne âgée, femme enceinte, sportif</p>
            <p>Téléphone: <b><a href="tel:+33610633859">06 10 63 38 59</a></b></p>
            <p>Consultation sur rendez-vous uniquement</p>
        </div>
    </div>
</section>
<!-- <section class="ml-header-cabinet container-fluid bg-dark_section">
    <div class="row justify-content-center"></div>
</section> -->
<section class="container-fluid bg-dark_section">
    <div class="row justify-content-center">
        <div class="col-12 text-md-center text-center">
            <p class="title">Plan d'accès</p>
            <p>Le cabinet se situe au <a href="https://goo.gl/maps/EtwajqkjhgYBTib17" target="_blank"><strong>63 Place de la Libération 69620 Bois d'Oingt, Val d'Oingt.</strong></a></p>
        </div>
        <div id="map"></div>
    </div>
</section>
<section class="container-fluid bg-light">
    <div class="row justify-content-center">
        <div class="col-12 text-md-center text-center">
            <p class="title">Honoraires</p>
            Montant d'une consultation : 60€
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-md-center text-center">
            <p class="title">Prendre rendez-vous</p>
            Vous pouvez prendre rendez-vous sur <b><a href="https://www.doctolib.fr/osteopathe/lyon/mathilde-laratte?pid=practice-47424" target="_blank">doctolib</a></b> ou par téléphone au <b><a href="tel:+33610633859">06 10 63 38 59</a></b>
        </div>
    </div>
</section>
{{ end }}
