<nav id="ml-navbar" class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div id="ml-menu" class="container-fluid">
        <a class="navbar-brand mx-0" href="/">
            <img src="/img/ml.png" id="logo" alt="Mathilde LARATTE" title="Mathilde LARATTE" />
            Mathilde LARATTE / 06 10 63 38 59
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown position-static">
                    <a class="nav-link ml-1 ml-md-3" href="/osteopathie/">Ostéopathie</a>
                </li>
                <li class="nav-item dropdown position-static">
                    <a class="nav-link ml-1 ml-md-3" href="/votre-osteopathe/">Votre ostéopathe</a>
                </li>
                <li class="nav-item dropdown position-static">
                    <a class="nav-link ml-1 ml-md-3" href="/pour-qui/">Pour qui ?</a>
                </li>
                <li class="nav-item dropdown position-static">
                    <a class="nav-link ml-1 ml-md-3" href="/contact/">Contact / Informations pratiques</a>
                </li>
                <li class="nav-item dropdown position-static">
                    <a class="nav-link ml-1 ml-md-3 rdv-menu" target="_blank" href="https://www.doctolib.fr/osteopathe/lyon/mathilde-laratte?pid=practice-47424">Prendre rendez-vous</a>
                </li>
            </ul>
        </div>
    </div>
</nav>